/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins" , sans-serif;
}

h3 {
  color: #27329b;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  text-shadow: -4px -4px 15px rgba(255,255,255,1),
				4px 4px 15px rgba(0,0,0,0.1);
}

.navbar{
  background: #27329b;
}

.card {
  margin-top: 2%;
  padding: 20px;

  background: rgba(255, 255, 255, 1);
  border-radius: 15px;
  border: none;
  box-shadow: 0px 5px 10px rgb(34, 32, 32,0.2),
  0px 5px 10px rgba(0,0,0,0.1);
}

.error-message{
  text-align: center;
  color:#dc3545;
  padding:10px;
  width:100%;
  background:#fff;
  border: #dc3545 1px solid;
}

.btn-custom{
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #27329b;
  color: #fff;
  box-shadow: -4px -4px 15px rgba(255,255,255,0.3),
      4px 4px 15px rgba(0,0,0,0.1);
}
.btn-custom:hover{
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #3642aa;
  color: #fff;
  box-shadow: none;
}

.btn-cancel{
  width: 50px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #27329b;
  color: #fff;
  box-shadow: -4px -4px 15px rgba(255,255,255,0.3),
      4px 4px 15px rgba(0,0,0,0.1);
}
.container-checker{
  margin-top:10%;
}
.hide{
  display:none;
}

.myDiv{
  display:none;
}

.title{
  font-size: 40px;
  font-weight:600;
  font-style: bold;
  margin: 0px;
  color:#27329b;
}

.title1{
  font-size: 30px;
  font-weight:600;
  font-style: bold;
  margin: 0px;
  color:#27329b;
}
.btn-history{
  width:auto;
  background-color: #27329b;
  color:#f2f2f2;
  margin-top:5px;
  float:right;
}
.btn-history:hover{
  width:auto;
  background-color: #5c6dc9;
  color:#f2f2f2;
  margin-top:5px;
  float:right;
}
.title2{
  font-size: 18px;
  font-weight:600;
  font-style: bold;
  margin: 0px;
  color:#27329b;
}
.form-control{
  height:50px;
}
.form-control:focus{

  border-bottom:3px #27329b solid;

}


.table{
  border-collapse: collapse;
  width: 100%;
}
.table th{
  background-color: #27329b;
  color:white;
}
.table  tr:nth-child(even){background-color: #f2f2f2;}

.total{
  color: #27329b;
}

.header{
  font-size: 20px;
  color: #27329b;
  font-weight: 600;
}

.loginimage{
  text-align: center;
}

.loginimage1{
    height: 150px;
    margin-top: 2%;
}
.card3{
  margin-left: 34%;
  width:400px;
  border: #27329b 2px solid;
}
.qr{
  margin-left:80px;
  margin-top:10px;
}

.btn-validation{
  border-radius: 10px;
  padding: 10px;
  background-color: #27329b;
  color: #fff;
}
.btn-validation:hover{
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  color: #27329b;
}

.sticky th{
  position: sticky;
  top:0;
}

.table-responsive::-webkit-scrollbar {
  display: none;
}


@media screen and (max-device-width: 640px){
  body {
    background:#27329b;
  }
  h3 {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-shadow: none;
  }
  .card {
  
    padding: 20px;
    width:100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border: none;
    box-shadow: none;
  }
  .header{
    margin-top: 10%;
    color: #fff;
  }
  .btn-cancel{
    width: 30px;
    margin-top: 0px;
    border-radius:5px;
    padding: 5px;
    background-color: #27329b;
    color: #fff;
    box-shadow: -4px -4px 15px rgba(255,255,255,0.3),
        4px 4px 15px rgba(0,0,0,0.1);
  
  
  }
  .btn-custom{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #27329b;
    color: #fff;
    box-shadow: none;
  }
  .btn-custom:hover{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #3642aa;
    color: #fff;
    box-shadow: none;
  }
  .btn-status{
    width: 30px;
    color: #27329b;
  }
  .modal-title{
    
  }
  .table th{
    background-color: #27329b;
    font-size: 10px;
    color:white;
  }
  .table  tr{
    background-color: #f2f2f2;
    font-size: 10px;
  }
  
  .total{
    color: #27329b;
  }
  
  .loginimage{
    text-align: center;
  }

  .loginimage1{
      height: 100px;
      margin-top: 2%;
  }
  .card3{
    margin-left: 0%;
    width:330px;
    border: #27329b 2px solid;
  }
  .title{
    color: #27329b;
    font-size: 20px;
  }
  .title1{
    color: #fff;
    font-size: 20px;
  }
  .wel{
    width:100%;
  }
  .come{
    width: 100%;
  }

  .ins{
    width:70%;
  }
  .truc{
    width: 30%;
  }
  .qr{
    margin-left:20px;
    margin-top:10px;
  }

  .user{
    text-align: center;
    color:#27329b;
    width: 100%;
  }
  .pic{
    text-align: center;
    width: 100%;
  }
  .prof1{
    width: 100%;
  }
  .info{
    width: 100%;
    color: #27329b;
  }

  .form-label{
    font-size: 18px;
  }
  .form-control{
    height:50px;
    font-size: 15px;
  }
  .container-checker{
    margin-top:40%;
  }
  .fas{
    color: #27329b;
  }
}
@media screen and (max-width: 480px) {
body {
    background:#27329b;
  }
  h3 {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-shadow: none;
  }
  .container-checker{
    margin-top:50%;
  }
  .card {
  
    padding: 20px;
  
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border: none;
    box-shadow: none;
  }
  .header{
    margin-top: 10%;
    color: #fff;
  }
  .btn-cancel{
    width: 30px;
    margin-top: 0px;
    border-radius:5px;
    padding: 5px;
    background-color: #27329b;
    color: #fff;
    box-shadow: -4px -4px 15px rgba(255,255,255,0.3),
        4px 4px 15px rgba(0,0,0,0.1);
  
  
  }
  .btn-custom{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #27329b;
    color: #fff;
    box-shadow: none;
  }


  .btn-custom:hover{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #3642aa;
    color: #fff;
    box-shadow: none;
  }
  

  .btn-status{
    width: 30px;
    color: #27329b;
  }
  .modal-title{
    
  }
  .table th{
    background-color: #27329b;
    font-size: 10px;
    color:white;
  }
  .table  tr{
    background-color: #f2f2f2;
    font-size: 10px;
  }
  .table  td h5{
    font-size: 10px;
  }
  
  .total{
    color: #27329b;
  }
  
  .loginimage{
    text-align: center;
  }

  .loginimage1{
      height: 100px;
      margin-top: 2%;
  }
  .card3{
    margin-left: 0%;
    width:330px;
    border: #27329b 2px solid;
  }
  .title{
    color: #27329b;
    font-size: 20px;
  }
  .title1{
    text-align:left;
    color: #fff;
    font-size: 20px;
  }
  .wel{
    width:100%;
  }
  .come{
    width: 100%;
  }

  .ins{
    width:70%;
  }
  .truc{
    width: 30%;
  }
  .qr{
    margin-left:20px;
    margin-top:10px;
  }

  .user{
    text-align: center;
    color:#27329b;
    width: 100%;
  }
  .pic{
    text-align: center;
    width: 100%;
  }
  .prof1{
    width: 100%;
  }
  .info{
    width: 100%;
    color: #27329b;
  }

  .form-label{
    font-size: 18px;
  }
  .form-control{
    height:50px;
    font-size: 15px;
  }

}

  .password-container{
    position: relative;
  }
  .password-container input[type="password"],
  .password-container input[type="text"]{
    width: 100%;
    padding: 12px 36px 12px 12px;
    box-sizing: border-box;
  }
  .fa-eye{
    position: absolute;
    top: 53%;
    right: 4%;
    cursor: pointer;
    color: #27329b;
  }


